html{
  background-image: url(images/photo-1448375240586-882707db888b.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin:0;
  padding:0;
}

body{
  margin: 0%;
  padding: 0%;
  /* height: 100%; */
  /* width: 100%; */
}

img{
  height:80%;
  width:100%;
  /* border: 2px solid black; */
}

h1{
  margin-left: 10%;
}

#info{
  background-color: #56f442;
  height:40%;
  width: 80%;
  border: 2px solid black;
  margin: 10% 10%;
  overflow: scroll;

}


.container{
  max-width: 70%;
  /* max-height: 1000px; */
  display: grid;
  grid-template-columns: 50% 5% 45%;
  grid-template-rows: 100%;
  margin: 30% auto;

}

.container .box{
  border: 1px solid black;
  background-color: #ff3333;
  box-shadow: 12px 12px 2px 1px black;

}

.container .box:nth-child(2){
  background-color: #cc2424;
  height: 80%;
  margin-top: 210%;
}

.container .box:nth-child(3){
  height: 90%;
  margin-top: 20%;
  border-radius: 3%;
}

.container .box:nth-child(1){
  border-radius: 3%;
}

.hidden{
  display: none;
}

#top{
  margin-top: 50px;
  margin-bottom: 550px;
}

#screen{
  background-color: black;
  height: 80%;
  width: 70%;
  margin: 10% auto;
  border: 25px solid #c7cccc;
  box-shadow: 5px 5px 10px #721b1b;
  color: white;
}

#page1{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 70% 20%;
  width:100%;
  height: 100%;
}


/* #blue-button{
  height:100%;
  width:15%;
  background-color: #28f7ff;
  margin-left: 10%;
  margin-top: 5%;
  border: 4px solid grey;
  border-radius: 90%;
} */

#lights{
  display: grid;
  grid-template-columns: 20% 10% 10% 10%;
  grid-template-rows: 80%;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-shadow: 5px 5px 10px #721b1b;
}

#lights .lightup{
  margin-top:3%;
  margin-left:10%;
}


#lights .lightup:nth-child(1){
  background-color: #3cc1c1;
  border-radius: 90%;
  border: 5px solid #c7cccc;
}

#lights .b:nth-child(2){
  background-color: green;
  /* border-radius: 90%; */
}

#keys{
  display:grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 50%;
  grid-gap: 10%;
  margin:0 auto;
  width:100%;
}

#keys .key-button{
  margin: 10% 20%;
}

button{
  height: 100%;
  width: 100%;
  background-color: yellow;
  color: green;
  font-size: 1em;
  box-shadow: 5px 5px 10px #721b1b;
  margin-left: 2%;
}

#list{
  font-size: 2em;
  list-style:none;
  font-family:Cuprum;
}
